.container {
  width: 50%;
  margin: 120px auto;
  border: 2px solid black;
  text-align: center;
}
.container-2 table {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3vw;
}
.container-2 input {
  font-size: 1vw;
}
#nameError,
#passwordError,
#rePasswordError {
  display: none;
  color: red;
}
#btn {
  padding: 2% 5%;
  font-size: 1.2vw;
  margin: auto;
  width: 100%;
  margin-top: 10px;
}
#btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: larger;
  }
  .container-2 table {
    font-size: 3vw;
  }
  .container-2 input {
    font-size: 2vw;
  }
  #btn {
    font-size: 3vw;
  }
}
